# General Files
*.retry
*.lock
.vagrant/
inventory
fetch/
/site
.DS_Store
pkg/
venv/

# swp files
*.swp
idea/
bootstrap_install/server_credentials

# User Specific
settings/
tasks/ansible_bash.vars
package_template/tmp_service
package_template/tmp*.yml

# IDE specific
/.vscode

# Commit specific
INSTALL_PRECOMMIT.sh

# Node
node_modules/

# kibitzr service
kibitzr.yml
kibitzr-creds.yml

# Service-edit Task
docker-compose.override.yml

# CI
settings_ci/
