---
version: '3'

# This networks section required for the package to be visible to Traefik.
# DO NOT Remove
networks:
  traefik_network:
    external:
      name: vivumlab_traefik
  peertube:

services:
  db:
    container_name: peertube_db
    image: postgres:{{ peertube.db_version }}
    networks:
      - peertube
    env_file:
      - .env
    volumes:
      - "{{ volumes_root }}/peertube/db:/var/lib/postgresql/data"
    restart: unless-stopped

  redis:
    container_name: redis
    networks:
      - peertube
    image: redis:{{ peertube.redis_version }}
    volumes:
      - "{{ volumes_root }}/peertube/redis:/data"
    env_file:
      - .env
    restart: unless-stopped

  postfix:
    container_name: peertube_postfix
    networks:
      - peertube
    image: mwader/postfix-relay
    restart: unless-stopped
    env_file:
      - .env
  app:
    container_name: peertube
    image: chocobozzz/peertube:{{ peertube.version }}
    restart: unless-stopped
    networks:
      - traefik_network
      - peertube
    volumes:
      - "{{ volumes_root }}/peertube/data:/data"
      - "{{ volumes_root }}/peertube/config:/config"
    depends_on:
      - db
      - redis
      - postfix
    env_file:
      - .env
    ports:
      - 9000:9000
    labels:
      - "traefik.http.services.peertube.loadbalancer.server.scheme=http"
      - "traefik.http.services.peertube.loadbalancer.server.port=9000"
{% include './labels.j2' %}
