---
version: '3'

networks:
  traefik_network:
    external:
      name: vivumlab_traefik
  nextcloud:

services:
  db:
    container_name: nextcloud_db
    image: postgres:{{ nextcloud.db_version }}
    restart: unless-stopped
    user: "{{ uid_output.stdout }}:{{ gid_output.stdout }}"
    volumes:
      - "{{ volumes_root }}/nextcloud/postgres:/var/lib/postgresql/data"
      - "/etc/passwd:/etc/passwd:ro"
    networks:
      - nextcloud
    restart: unless-stopped
    environment:
      - POSTGRES_PASSWORD={{lookup('password', './settings/passwords/nextcloud_db_password chars=ascii_letters')}}
      - POSTGRES_USER=nextcloud

  redis:
    container_name: nextcloud_redis
    image: redis:{{ nextcloud.redis_version }}
    networks:
      - nextcloud
    restart: unless-stopped

  nextcloud:
    container_name: nextcloud
    image: nextcloud:{{ nextcloud.version }}
    restart: unless-stopped
    networks:
      - traefik_network
      - nextcloud
    user: {{ uid }}:{{ gid }}
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=0
      # The line above allows an unprivileged user (the uid/gid of the VivumLab user) to
      # listen on any port (https://github.com/nextcloud/docker/issues/359)
      # Used / needed for apache to l
    volumes:
      - "{{ volumes_root }}/nextcloud/config:/var/www/html/config"
      - "{{ volumes_root }}/nextcloud/custom_apps:/var/www/html/custom_apps"
      - "{{ volumes_root }}/nextcloud/themes:/var/www/html/themes"
      - "{{ storage_dir }}/Documents/NextCloud/data:/var/www/html/data"
      - "{{ storage_dir }}/Documents/NextCloud/webroot:/var/www/html"
      - "{{ storage_dir }}:/mnt/vivumlab"
    environment:
      - POSTGRES_HOST=db
      - POSTGRES_PASSWORD={{lookup('password', './settings/passwords/nextcloud_db_password chars=ascii_letters')}}
      - POSTGRES_DB=nextcloud
      - POSTGRES_USER=nextcloud
      - UPLOAD_MAX_SIZE=10G
      - APC_SHM_SIZE=128M
      - OPCACHE_MEM_SIZE=128
      - CRON_PERIOD=15m
      - TZ={{ common_timezone }}
      - REDIS_HOST=redis
      - NEXTCLOUD_ADMIN_USER={{ default_username }}
      - "NEXTCLOUD_ADMIN_PASSWORD={{ default_password }}"
      - NEXTCLOUD_TRUSTED_DOMAINS={{ service_domain }}
      - NEXTCLOUD_UPDATE=1 # triggers the automated install on first run.
      # SMTP settings
      - SMTP_HOST={{vault.smtp.host}}
      - SMTP_SECURE={% if vault.smtp.port == 587 %}ssl{% endif %}

      - SMTP_PORT={{vault.smtp.port}}
      - SMTP_PASSWORD={{vault.smtp.pass}}
      - MAIL_FROM_ADDRESS={{vault.smtp.from_email}}
      - OVERWRITEHOST={{ service_domain }}
      - OVERWRITEPROTOCOL=https
    depends_on:
      - db
      - redis
    labels:
      - "traefik.http.services.nextcloud.loadbalancer.server.scheme=http"
      - "traefik.http.services.nextcloud.loadbalancer.server.port=80"
{% include './labels.j2' %}
