---
version: '3'

networks:
  traefik_network:
    external:
      name: vivumlab_traefik

services:
  app:
    container_name: rsshub
    image: diygod/rsshub:{{ rsshub.version }}
    restart: unless-stopped
    networks:
      - traefik_network
    environment:
      - TZ={{ common_timezone }}
    labels:
      - "traefik.http.services.rsshub.loadbalancer.server.scheme=http"
      - "traefik.http.services.rsshub.loadbalancer.server.port=1200"
{% include './labels.j2' %}
