---
version: '3'

networks:
  traefik_network:
    external:
      name: vivumlab_traefik

services:
  netdata:
    container_name: netdata
    image: netdata/netdata:{{ netdata.version }}
    hostname: {{ domain }}
    networks:
      - traefik_network
    environment:
      - PGID=116
    cap_add:
      - SYS_PTRACE
    security_opt:
      - apparmor:unconfined
    volumes:
      - {{ volumes_root }}/netdata/config:/etc/netdata:ro
      - netdatalib:/var/lib/netdata
      - netdatacache:/var/cache/netdata
      - /etc/passwd:/host/etc/passwd:ro
      - /etc/group:/host/etc/group:ro
      - /etc/os-release:/host/etc/os-release:ro
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    labels:
      - "traefik.http.services.netdata.loadbalancer.server.scheme=http"
      - "traefik.http.services.netdata.loadbalancer.server.port=19999"
{% include './labels.j2' %}

volumes:
  netdatalib:
  netdatacache:
