---
version: '3'

# This networks section required for the package to be visible to Traefik.
# DO NOT Remove
networks:
  traefik_network:
    external:
      name: vivumlab_traefik

services:
  docs:
    # Mkdocs and Nginx
    container_name: docs
    image: polinux/mkdocs:{{ docs.version }}
    restart: unless-stopped
    networks:
      - traefik_network
    environment:
      LIVE_RELOAD_SUPPORT: 'true'
      ADD_MODULES: 'fontawesome-markdown mkdocs-git-revision-date-localized-plugin mkdocs-material'
      DOCS_DIRECTORY: '/mkdocs'
    volumes:
      - "{{ volumes_root }}/docs/src:/mkdocs:ro"
    labels:
      - "traefik.http.services.docs.loadbalancer.server.scheme=http"
      - "traefik.http.services.docs.loadbalancer.server.port=8000"
{% include './labels.j2' %}
